{%extends 'base.html'%} {%block content%}
<h1>Welcome to Disney's Animal Kingdom</h1>
<div class="container">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/pictures/drew-hastings-L-QbgTouzGw-unsplash.jpg"
            alt=""
            class="img-fluid parkPic"
          />
          <div class="card-body">
            <h4>Rides</h4>
            <a class="btn btn-primary" href="/animalRides">Go!</a>
          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="../static/pictures/perry-merrity-ii-2J6WtbB00VY-unsplash.jpg"
              alt=""
              class="img-fluid parkPic"
            />
            <div class="card-body">
              <h4>Food</h4>
              <a class="btn btn-primary" href="/animalFood">Go!</a>
            </div>
          </div>
        </div>
      
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/pictures/kyle-desantis-lVjpZArcHCA-unsplash.jpg"
            alt=""
            class="img-fluid parkPic"
          />
          <div class="card-body">
            <h4>Entertainment</h4>
            <a class="btn btn-primary" href="/epcot">Go!</a>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
{%endblock content%}