{%extends 'base.html'%} {%block content%}
<h1 class="text-center">Welcome to the {{landName}} Food Page</h1>
<div class="text-center">
  <h2 class="bg-secondary text-white text-center">Quick Service</h2>
  {%for r in data%}
  <h2 class="bg-dark text-white">{{r["name"]}}</h2>
  <p>{{r['summary']}}</p>
  {%endfor%}
  <h2 class="bg-secondary text-center text-white">Sit Down</h2>
  {%for r in data2%}
  <h2 class="bg-dark text-white text-center">{{r["name"]}}</h2>
  <p>{{r['summary']}}</p>
</div>
{%endfor%}
<footer>
  <h2>
    Powered by
    <a href="https://touringplans.com/" target="_blank">touringplans.com</a>
  </h2>
</footer>
{%endblock content%}
