{%extends 'base.html'%} {%block content%}
<h1>Welcome to Disney's Hollywood Studios</h1>
<div class="container">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/pictures/carol-kennedy-RHQ-XuRo3jc-unsplash.jpg"
            alt=""
            class="img-fluid parkPic"
          />
          <div class="card-body">
            <h4>Rides</h4>
            <a class="btn btn-primary" href="/disneyland">Go!</a>
          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="../static/pictures/andrijana-bozic-BQib_Kv5wxc-unsplash.jpg"
              alt=""
              class="img-fluid parkPic"
            />
            <div class="card-body">
              <h4>Food</h4>
              <a class="btn btn-primary" href="/californiaAdventure">Go!</a>
            </div>
          </div>
        </div>
      
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/pictures/nicholas-fuentes-e9Lm2Nvoflk-unsplash.jpg"
            alt=""
            class="img-fluid parkPic"
          />
          <div class="card-body">
            <h4>Entertainment</h4>
            <a class="btn btn-primary" href="/epcot">Go!</a>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
{%endblock content%}