{%extends 'base.html'%} {%block content%}
<h1>Welcome to Magic Kingdom</h1>
<div class="container">
    <div class="row mb-3">
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/pictures/gg-guarnere-uUUSRm7drZ4-unsplash.jpg"
            alt=""
            class="img-fluid parkPic"
          />
          <div class="card-body">
            <h4>Rides</h4>
            <a class="btn btn-primary" href="/magicRides">Go!</a>
          </div>
        </div>
      </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="../static/pictures/perry-merrity-ii-WLdRvvh__J0-unsplash.jpg"
              alt=""
              class="img-fluid parkPic"
            />
            <div class="card-body">
              <h4>Food</h4>
              <a class="btn btn-primary" href="/magicFood">Go!</a>
            </div>
          </div>
        </div>
      
     
      </div>
    </div>
    </div>
{%endblock content%}