{%extends 'base.html'%} {%block content %}
<h1>Which Park Do You Want To Explore?</h1>
<div class="container">
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="card">
        <img
          src="../static/pictures/travel-3169810_960_720.jpg"
          alt=""
          class="img-fluid parkPic"
        />
        <div class="card-body">
          <h4>Disneyland</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            rerum architecto accusamus officiis. Possimus laborum at corrupti,
            molestiae minus recusandae reiciendis ipsam. Aut, aspernatur!
            Corrupti consectetur fugiat dignissimos magnam eius.
          </p>
          <a class="btn btn-primary" href="/disneyland">Explore!</a>
        </div>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card">
          <img
            src="../static/pictures/california-adventure-3609467_960_720.jpg"
            alt=""
            class="img-fluid parkPic"
          />
          <div class="card-body">
            <h4>California Adventure</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
              rerum architecto accusamus officiis. Possimus laborum at corrupti,
              molestiae minus recusandae reiciendis ipsam. Aut, aspernatur!
              Corrupti consectetur fugiat dignissimos magnam eius.
            </p>
            <a class="btn btn-primary" href="/californiaAdventure">Explore!</a>
          </div>
        </div>
      </div>
    
    <div class="col-md-4">
      <div class="card">
        <img
          src="../static/pictures/ronald-yang-xagqOinFSu4-unsplash.jpg"
          alt=""
          class="img-fluid parkPic"
        />
        <div class="card-body">
          <h4>Epcot Center</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            rerum architecto accusamus officiis. Possimus laborum at corrupti,
            molestiae minus recusandae reiciendis ipsam. Aut, aspernatur!
            Corrupti consectetur fugiat dignissimos magnam eius.
          </p>
          <a class="btn btn-primary" href="/disneyland">Explore!</a>
        </div>
      </div>
      </div>
    </div>
    <div class="row mb-3">
    <div class="col-md-4">
      <div class="card">
        <img
          src="../static/pictures/jayme-mccolgan-IP1rSwr8R6o-unsplash.jpg"
          alt=""
          class="img-fluid parkPic"
        />
        <div class="card-body">
          <h4>Magic Kingdom</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            rerum architecto accusamus officiis. Possimus laborum at corrupti,
            molestiae minus recusandae reiciendis ipsam. Aut, aspernatur!
            Corrupti consectetur fugiat dignissimos magnam eius.
          </p>
          <a class="btn btn-primary" href="/disneyland">Explore!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="../static/pictures/stephanie-klepacki-M1Pjq6RPDFU-unsplash.jpg"
          alt=""
          class="img-fluid parkPic"
        />
        <div class="card-body">
          <h4>Animal Kingdom</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            rerum architecto accusamus officiis. Possimus laborum at corrupti,
            molestiae minus recusandae reiciendis ipsam. Aut, aspernatur!
            Corrupti consectetur fugiat dignissimos magnam eius.
          </p>
          <a class="btn btn-primary" href="/disneyland">Explore!</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img
          src="../static/pictures/kaleb-tapp-DFTvlEsqVHE-unsplash.jpg"
          alt=""
          class="img-fluid parkPic"
        />
        <div class="card-body">
          <h4>Holllywood Studios</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae
            rerum architecto accusamus officiis. Possimus laborum at corrupti,
            molestiae minus recusandae reiciendis ipsam. Aut, aspernatur!
            Corrupti consectetur fugiat dignissimos magnam eius.
          </p>
          <a class="btn btn-primary" href="/disneyland">Explore!</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



{%endblock content %}
