{% extends 'base.html' %} {%block content%}
<h1>Current {{park}} Wait Times</h1>
<section>
  {%for datas in data%}
  <h2 class="names">{{datas['name']}}</h2>
  {%for r in datas['rides']%}
  <h4>{{r['name']}}</h4>
  {%if r['wait_time'] == 0 and r['is_open'] == True%}
  <h4>No Wait!</h4>
  {%elif r['is_open'] == True%}
  <h4>{{r["wait_time"]}} Minutes</h4>
  {%else%}
  <h4>{{r['name']}} is currently closed</h4>
  {% endif %} {%endfor%} {%endfor%}
</section>
<footer>
  <h2>
    Powered by
    <a href="https://queue-times.com/en-US" target="_blank">Queue-Times.com</a>
  </h2>
</footer>

{%endblock content%}
